@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

body {
    /* base size on which rem depends */
    font-size: 16px;
    font-family: var(--body);
    @apply text-white overflow-x-hidden;
}

/**
 * Buttons.
 */
.btn-primary {
    @apply border border-white border-opacity-20 bg-secondary;
}
.btn-primary:active {
    @apply bg-opacity-80;
}

.btn-secondary {
    @apply border border-white border-opacity-20 bg-white bg-opacity-5;
}
.btn-secondary:hover {
    @apply bg-opacity-10;
}
.btn-secondary:focus-visible {
    @apply border-transparent;
}
.btn-secondary:active {
    @apply bg-opacity-20;
}

.btn-tertiary {
}
.btn-tertiary:hover {
    @apply bg-black bg-opacity-10;
}
.btn-tertiary:focus-visible {
    @apply border-transparent;
}
.btn-tertiary:active {
    @apply bg-black bg-opacity-20;
}

.btn-tertiary,
.btn-secondary,
.btn-primary {
    @apply text-base font-medium min-h-[56px] py-1 flex items-center px-6 transition
        duration-500 hover:duration-300 justify-center space-x-1.5;
}
.btn-tertiary:hover,
.btn-secondary:hover,
.btn-primary:hover {
    transform: translateY(-2px);
}
.btn-tertiary:focus-visible,
.btn-secondary:focus-visible,
.btn-primary:focus-visible {
    @apply outline outline-1 outline-white outline-offset-1 rounded-sm;
}

/* .container {
    @apply px-5;
} */
.container {
    @apply w-full max-w-[90%] xl:max-w-[80%] 2xl:max-w-screen-xl;
}

/**
 * The small pre-title above headings.
 */
.pill-heading {
    font-family: var(--heading);
    background-image: linear-gradient(225deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.1));
    @apply text-base text-center font-light px-4 py-2.5;
}

/**
 * Generic card
 */
.card {
    @apply border border-white border-opacity-10 backdrop-blur-md bg-primary bg-opacity-40;
}

h1 {
    @apply text-4xl leading-[45px] lg:text-5xl text-center font-bold max-w-3xl;
}
h2 {
    @apply text-[35px] leading-[40px] lg:text-[42px] lg:leading-[48px] font-bold;
}
h3 {
    @apply text-2xl lg:text-3xl font-bold;
}

p {
    @apply text-base text-white text-opacity-70 tracking-[0.5px] font-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading);
    @apply tracking-[0.5px] leading-[1.15];
}

textarea,
input {
    @apply px-6 py-4 border border-white border-opacity-20 bg-transparent
        outline-none text-base w-full text-white block
        focus:border-opacity-50
        placeholder:text-white placeholder:font-light placeholder:text-opacity-40;
}
input {
    @apply h-16;
}
textarea {
}

::selection {
    background: #f3883c;
}

/**
 * Slide
 */
@media screen and (min-width: 1024px) {
    .fade {
        opacity: 0;
        transition-duration: 1s ease;
        transition-property: opacity, transform;
        transition: all 0.5s ease-in-out;
    }
    .fade.active {
        opacity: 1;
        transform: translateX(0px) translateY(0px) !important;
    }

    .fade.fade-left {
        transform: translateX(-50px);
    }
    .fade.fade-down {
        transform: translateY(-50px);
    }
    .fade.fade-up {
        transform: translateY(50px);
    }
    .fade.fade-right {
        transform: translateX(50px);
    }
}

.privacy-policy p,
.privacy-policy li {
    margin: 16px 0;
}

.tos {
    @apply -mt-12;
}
.tos p,
.tos li {
    margin: 16px 0;
}
.tos h1 {
    @apply text-left;
}
.tos h1,
.tos h2 {
    @apply mt-12;
}
.tos ul {
    @apply list-disc pl-6;
}
.tos ul ul {
    list-style-type: circle;
}
